{% extends 'base0.html' %}

{% block title %} Sign Up {% endblock %}

{% block body %} 

    <h1> Sign Up Page </h1>

    <!-- flash message display -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-level="close">
                    <span aria-hidden="true">x</span>
                </button>

                {{ message }}
        
            </div>
                
            {% endfor %}
        {% endif %}
    {% endwith %}

    <!-- login form start -->
    <form action="" method="post" novalidate>
        {{ form.csrf_token }}

        <p>
            {{ form.username.label }} <br>
            {{ form.username(size=32) }} <br>

            {% for error in form.username.errors %}
                <span style="color:red">{{ error }}</span>
            {% endfor %}

        </p>

        <p>
            {{ form.password.label }} <br>
            {{ form.password(size=32) }} <br>

            {% for error in form.password.errors %}
                <span style="color: red">{{ error }}</span>
            {% endfor %}

        </p>

        <p>
            {{ form.email.label }} <br>
            {{ form.email(size=32) }} <br>

            {% for error in form.password.errors %}
                <span style="color: red">{{ error }}</span>
            {% endfor %}

        </p>

        <p>
            <!-- {{ form.submit() }} -->
            <input type="submit" value="Sign Up" class="btn btn-info">

        </p>

    </form>
    <!-- login form end -->

{% endblock %}